*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin: 0;
}

.font-14{
    font-size: 14px;
    line-height: 18px;;
}

nav{
    background-color: rgba(255, 255, 255, .05);   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

nav ul{
    margin: 0;
}

nav ul a{
    color: #ccc;
    transition: all ease .3s;
}
nav ul a:hover{
    color: #fff;;
}

.bg-gray{
    background: #f1f1f1;
}
.bg-white{
    background-color: #fff;;
}

.color-white{
    color: #fff;;
}
.color-green{
    color: #308057;
}

.copyright{
    background: #000;
    color: #fff;
    font-size: 10px;;
}
.box-shadow{
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
}

.btn-default{
    background: #308057;
    color: #fff;
    transition: all ease .2s;
}
.btn-default:hover{
    color: #fff;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.fa-pied-piper-alt{
    font-size: 140px;;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    transition: ease all .8s;
}
.navbar.fixed{
    background: #000;
    color: #fff;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #fff;

}

.logo-navbar{
    width: 100px;
}

.navbar-expand-lg .navbar-collapse{
    position: absolute;
    right: 0;
    top: 55px;
    width: 100% ;
    background: rgba(255, 255, 255, .1);
    transition: all ease .3s;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
    border-bottom: solid;
}

.ctn-banner-title{
    margin-top: 30px;
    color: #000;
    left: 0;
    right: 0;
}
.ctn-banner-title h1{
    font-size: 22px;
}
.ctn-banner-title h2{
    font-size: 18px;
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.owl-nav{
    font-size: 50px;
    position: absolute;
    top: 35%;
    width: 100%;
    color: #308057;
}
.owl-nav .owl-prev{
    position: absolute;
    left: -30px;
}
.owl-nav .owl-next{
    position: absolute;
    right: -30px;
}

.owl-dots{
    text-align: center;
}
.owl-carousel button.owl-dot{
    width: 10px;
    height: 10px;
    background: #ccc;
    margin: 3px;
    border-radius: 10px;
}
.owl-carousel button.owl-dot.active{
    background: #308057;
}

.list-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list-skills li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social{
    font-size: 20px;
}

.go-top{
    font-size: 30px;
    color: #308057;
    background: #ddd;
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 50px;
    padding: 10px 20px 15px 20px;
    z-index: 10;
    opacity: .6;
    display: none;
}
.go-top:hover{
    opacity: 1;
    color: #308057;
}

.whats{
    font-size: 26px;
    color: #308057;
}

@media screen and (min-width: 1024px) {
    .navbar-expand-lg .navbar-collapse{
        top: 0;
        width: initial;
        background: none;
    }
    .ctn-banner-title{
        position: absolute;
        top: 100px;
        color: #fff;
    }
    .ctn-banner-title h1{
        font-size: 30px;
    }
    .ctn-banner-title h2{
        font-size: 22px;
    }
}